@import 'normalize.scss';
@import 'variables.scss';
@import 'dice.scss';
@import 'utility.scss';

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1,
h2,
p,
a,
span,
label,
input[type=text] {
    font-family: $bit-font;
}

* {
    box-sizing: border-box;
}

html {
    background-color: $blue;
    color: $white;
}

header {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: $dark-blue;
    outline: solid 4px $grey;
    border: solid 2px $dark-grey;
    margin-bottom: 1em;

    a {
        padding: 0.6em 0.3em 0.3em 0.6em;
    }


}

nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
    padding-right: 120px;

    a {
        font-size: $nav-size;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: $white;
    }

    a:hover,
    a:focus {
        color: $yellow;
    }

    a:focus {
        outline: 2px solid $yellow;
    }
}

main {
    width: 60%;
    margin: 0 auto;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: $white;
    background-image: linear-gradient($blue 70%, $dark-blue);

    a {
        text-decoration: none;
        color: $white;

        &:hover {
            color: $grey;
        }
    }
}
