@import 'normalize.scss';
@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color: #529297;
    color: $dark;
}

header {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: $blue;
    outline: solid 4px $grey;
    border: solid 2px $dark-grey;

    a {
        padding: 0.6em 0.3em 0.3em 0.6em;
    }


}

nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;

    a {
        font-size: $nav-size;
        font-family: $nav-family;
        font-weight: 700;
        width: 100%;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        color: $dark;
    }

    a:hover,
    a:focus {
        background-color: $dark-blue;
        color: $white;
    }
}

main {
    width: 60%;
    margin: 0 auto;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: $dark-blue;
    color: $white;
    outline: solid 4px $grey;
    border: solid 3px $dark-grey;


}

.white-bg {
    background-color: $white;
}

.button {
    position: relative;
    background-color: $blue;
    outline: 4px solid  $grey;
    color: $white;
    font-size: $nav-size;
    font-family: $nav-family;
    font-weight: 700;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border: 4px solid $dark-grey;
    border-radius: 0.3em;

    &:hover,
    &:focus {
        background-color: $dark-blue;
    }
}

.center {
    text-align: center;
}
