@import 'normalize.scss';
@import 'variables.scss';
@import 'dice.scss';
@import 'utility.scss';
@import 'globals.scss';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.button {
    position: relative;
    background-color: $blue;
    outline: 4px solid  $grey;
    color: $white;
    font-size: $nav-size;
    font-weight: 700;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border: 4px solid $dark-grey;
    border-radius: 0.3em;
    margin: 1em 0.5em;

    &:hover,
    &:focus {
        background-color: $dark-blue;
    }
}
