.white-bg {
    background-color: $white;
    color: $dark;
    padding: 2em;
}

.padded {
    padding-top: 0.5em;
}

.gap {
    gap: 0.5em;
}

.wide-gap {
    gap: 2em;
}

.center {
    text-align: center;
}

.material-icons {
    font-size: 18px !important;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.session {
    width: 1400px;
    padding-bottom: 200px
}

.disabled {
    opacity: 0.5;

    &:hover {
        color: unset;
    }
}

.histogram {
    position: absolute;
    bottom: 200px;
    left: 42%;
}
