$light-blue: #007383;
$blue: #004852;
$dark-blue: #002c32;
$white: #eee;
$grey: #717376;
$dark-grey: darken($grey, 20%);
$dark: #121212;
$yellow: #ffff00;

$nav-size: 1.4rem;
$nav-family: 'Lora', serif;
$bit-font: 'Press Start 2P', cursive;
